
.wrapper {
  width: calc(100vw - 80px);
  height: 40px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    flex: 1;
    img {
      width: 80px;
      height: 60px;
      cursor: pointer;
    }
  }

  .menu,
  .info {
    display: flex;
    a {
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  .menu {
    flex: 8;
    .search {
      a {
        color: #706868;
        opacity: 0.78;
      }

      img {
        width: 15px;
        height: 15px;
        margin-right: 20px;
      }
    }
  }

  .info {
    flex: 1;

    .lang {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        margin: 0;
      }
    }
  }
}
