<div class="wrapper">
  <div class="logo-list">
    <div>
      <img src="../../assets/logo-tbc.png" alt="Tbc Logo" />
    </div>
    <div class="list">
      <a class="header">TBC</a>
      <a>Help people together</a>
    </div>
  </div>
  <div class="list">
    <a class="header">Resources</a>
    <a>Blog</a>
    <a>Security</a>
  </div>
  <div class="list">
    <a class="header">Support</a>
    <a>Contact</a>
    <a>Page Info</a>
    <a>Docs</a>
  </div>
  <div class="list">
    <a class="header">Company</a>
    <a>Join Us</a>
    <a>Our Team</a>
  </div>
</div>

<div class="clip"></div>
