<div class="wrapper">
  <img src="../../../assets/credit-card.png" alt="Credit card">
  <form>
    <h1>Payment details</h1>
    <label>Name on card</label>
    <input type="text" placeholder="Name">
    <label>Card Number</label>
    <input type="number" placeholder="1234 5678 1234 4567">
    <div class="details">
      <div>
        <label>Valid Through</label>
        <input type="text" placeholder="02/22">
      </div>

      <div>
        <label>CVV</label>
        <input type="number" placeholder="123">
      </div>

      <div>
        <label>Donate amount</label>
        <input type="text" placeholder="250.00">
      </div>
    </div>
    <label>Donate with 250.00?</label>
    <div class="buttons">
      <button>CANCEL</button>
      <button>Donate</button>
    </div>
  </form>
</div>
