.wrapper {
  max-width: 850px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    margin-top: 50px;
    width: 440px;
    height: 270px;
  }

  form {
    width: 330px;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    label {
      color: #adadad;
      margin-bottom: 10px;
    }

    input {
      border: none;
      border-bottom: 2px solid #adadad;
      color: rgba(0, 0, 0, 0.75);
      background-color: transparent;
      margin-bottom: 20px;
      font-size: 23px;
      padding: 5px 0 5px 0;

      &:focus {
        outline: none;
        border-bottom: 2px solid #6CB5CB;
      }
    }

    .details {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      div {
        width: 45%;

        input {
          font-size: 20px;
          width: 100%;
        }
      }
    }

    .buttons {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        width: 145px;
        height: 35px;
        border-radius: 50px;
        border: none;
        font-size: 17px;
        cursor: pointer;

        &:first-child {
          border: 1px solid black;
        }

        &:last-child {
          background-color: #518dff;
          color: white;
        }
      }
    }
  }
}
