<div class="wrapper">
  <div class="section-first">
    <div>
      <h2>
        together <br />
        we can change <br />
        the world
      </h2>
      <p>
        Connects donors and companies in almost <br />
        every country in the world
      </p>
      <button>start</button>
    </div>
    <div>
      <img src="../../../assets/main-banner.png" alt="Main Banner" />
    </div>
  </div>
  <div class="section-second">
    <div class="box">
      <h3>What's Happening Now</h3>
      <div>
        <img src="../../../assets/arrow-up.png" alt="Arrow Up" />
        <img src="../../../assets//arrow-down.png" alt="Arrow Down" />
      </div>
      <p>Explore projects</p>
    </div>
    <div class="box">
      <img src="../../../assets/donate-first.png" alt="Donate First Image" />
      <div>
        <span>Ukraine</span>
        <div></div>
        <span>Odesa</span>
      </div>
      <p>$99,96 raised of 40.000</p>
      <div></div>
      <p>28 days left</p>
    </div>
    <div class="box">
      <img src="../../../assets/donate-second.png" alt="Donate Second Image" />
      <div>
        <span>Ukraine</span>
        <div></div>
        <span>Odesa</span>
      </div>
      <p>$99,96 raised of 40.000</p>
      <div></div>
      <p>28 days left</p>
      <div>
        <button>Donate</button>
        <img src="../../../assets/heart.png" alt="Hear Image" />
      </div>
    </div>
  </div>
</div>
