.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 180px;

  .section-first,
  .section-second {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .section-first {
    width: 95%;
    margin-bottom: 35px;
    h2 {
      font-size: 40px;
      background: -webkit-linear-gradient(
        94.7deg,
        #ffd600 44.09%,
        #ffd600 48.78%,
        #2367ea 49.15%,
        #2469ee 50.63%,
        #1e5fdb 67.54%,
        #2061e0 73.95%,
        #2163e4 95.26%,
        #093996 95.27%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 15px;
    }
    p {
      font-size: 20;
      font-weight: 500;
      color: #8e8888;
      margin-bottom: 30px;
    }
    img {
      width: 500px;
      height: 270px;
    }
    button {
      width: 70px;
      height: 30px;
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 4px 0px 4px rgba(250, 212, 8, 0.97196),
        0px 4px 4px rgba(250, 212, 8, 0.97196);
      color: #528dff;
      font-weight: 600;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .section-second {
    width: 75%;
    .text-wrapper {
      h3 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .arrow {
        display: flex;
        margin-bottom: 10px;

        .arrow-wrapper {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.02);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
        }
      }

      p {
        font-weight: 600;
      }
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 20px;
    min-width: 200px;
    min-height: 150px;
    padding: 10px;

    .donate {
      width: 400px;
      margin-bottom: 10px;
    }
    .city {
      width: 100%;
      display: flex;
      flex-direction: row;
      opacity: 0.3;
      margin-bottom: 5px;

      div {
        width: 1.5px;
        height: 14px;
        background: #000000;
        margin: 0 10px;
      }
    }
    .progress-bar {
      width: 400px;
      height: 15px;
      display: flex;
      margin-bottom: 20px;
      div {
        height: 100%;
      }
      div:first-child {
        width: 60%;
        background: #528dff;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      div:last-child {
        width: 40%;
        background: rgba(82, 141, 255, 0.2);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
    .amount,
    .days {
      color: rgba(0, 0, 0, 0.4);
      margin-bottom: 5px;
      span {
        color: #000000;
      }
    }
    .donate-button {
      display: flex;
      align-items: center;
      button {
        background: #528dff;
        color: #ffd600;
        border-radius: 20px;
        border: none;
        width: 80px;
        padding: 10px;
        margin-right: 10px;
      }
      .heart-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #528dff;
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
  }
}
