<div class="wrapper">
  <img src="../../../assets/box.png" alt="Box">
  <form>
    <h1>Item donation</h1>
    <label>Full Name</label>
    <input type="text" placeholder="Name">
    <label>Country</label>
    <select>
      <option value="" disabled selected hidden>Country</option>
      <option value="Georgia">Georgia</option>
      <option value="USA">USA</option>
    </select>
    <!-- <input type="text" placeholder="Georgia"> -->
    <label>Delivery term</label>
    <input type="date" placeholder="02/22">
    <label>Item Category</label>
    <input type="text" placeholder="First aid kit">
    <label>Description</label>
    <input type="text" placeholder="Brand new">
    <div class="buttons">
      <button>CANCEL</button>
      <button>Donate</button>
    </div>
  </form>
</div>
