.wrapper {
  width: 250px;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  position: absolute;
  top: 35%;
  left: calc(50% - 125px);
  z-index: 10;

  img {
    width: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  h3 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    margin: 25px auto;
    justify-content: space-between;

    button {
      width: 110px;
      height: 30px;
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: 4px 0px 4px rgba(250, 212, 8, 0.97196),
        0px 4px 4px rgba(250, 212, 8, 0.97196);
      font-weight: 600;
      border: none;
      cursor: pointer;

      &:last-child {
        box-shadow: 4px 0px 4px rgba(8, 52, 250, 0.972),
        0px 4px 4px rgba(8, 85, 250, 0.972);
      }
    }
  }
}
